admin             
data                
newfeatures.html   
vsmx
admin_style.html  
default.css  
knownissues.html  
releasenotes.css
bugsfixed.html    
downfr.html  
leftfr.html       
releasenotes.html
dashboard.html    
images       
mainfr.html       
robots.txt
